.pagination {
    display: flex;
    gap: 10px;
    align-items: center;
}

.text1, .text2 {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #0D0B0C;
}

.select {
    width: 50px;
}
