.container {
}

.wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.number {
    width: 20px;
    color: #000;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}
